#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.app-container {
  width: fit-content;
  min-height: auto;
  margin: 0 auto;
  padding: 2rem;
  background: #9bb6e1 100%;
  border-radius: 2rem;
  box-sizing: border-box;
}

.profile-showcase {
  max-width: 1200px;
  margin: 0 auto;
}
